<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">

        <br>
        <br>
    <form action="/listings/<%=stuffData._id%>?_method=PUT" method="post">
        <div class="md-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="stuffData[title]" value="<%= stuffData.title %>">
        </div>
        <div class="md-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" name="stuffData[description]" value="<%= stuffData.description %>">
        </div>
        <div class="md-3">
            <label for="image" class="form-label">Iamge Url / Link</label>
            <input type="text" class="form-control" name="stuffData[image][url]" value="<%= stuffData.image %>">
        </div>
        <div class="row">
            <div class="md-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" name="stuffData[price]" value="<%= stuffData.price %>">
        </div>
        <div class="md-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text" class="form-control" name="stuffData[country]" value="<%= stuffData.country %>">
        </div>
        </div>
        
        <div class="md-3">
            <label for="location" class="form-label">Locataion</label>
            <input type="text" name="stuffData[location]" class="form-control" value="<%= stuffData.location %>">
        </div>




        <br>
        <button class="edit-btn btn btn-dark mt-3" type="submit">Edit</button>
    </form>
    </div>
    </div>
</body>
