<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WonderDnd</title>
</head>
<body>
    <h3>Listing Details : </h3>
    <% if(locals.stuffData){ %>
    <ul>
        <li><%=stuffData.title%></li>
        <li><%=stuffData.description%></li>
        <li>&#8377;<%=stuffData.price.toLocaleString("en-IN")%></li>
        <li><%=stuffData.location%></li>
        <li><%=stuffData.country%></li>
    </ul>
    <a href="/listings/<%=stuffData._id  %>/edit">Edit listings</a>
   <% } %>
</body>
</html>